<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="container">
        <div class="row"> 
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio reiciendis!</p>
                <a href="" class="btn">Veiw</a>
                <a href="" class="btn">Edit</a>
            </div>
        </div>
        <div class="row">
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio
                    reiciendis!</p>
                <a href="" class="btn"> Veiw</a>
                <a href="" class="btn">Edit</a>
            </div>
        </div>
        <div class="row">
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio
                    reiciendis!</p>
                <a href="" class="btn"> Veiw</a>
                <a href="" class="btn">Edit</a>
            </div>
        </div>
        <div class="row">
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio
                    reiciendis!</p>
                <a href="" class="btn"> Veiw</a>
                <a href="" class="btn"> Edit</a>
            </div>
        </div>
        <div class="row">
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio
                    reiciendis!</p>
                <a href="" class="btn"> Read more</a>
            </div>
        </div>
        <div class="row">
            <img src="img/Screenshot (90).png" alt="">
            <div class="row-con">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione natus blanditiis deleniti optio
                    reiciendis!</p>
                <a href="" class="btn"> View</a>
                <a href="" class="btn"> Edit</a>
            </div>
        </div>
    </div>
</body>
</html>